:root {
  --shadow-right: #BFC0C2;
  --shadow-left: #FAFAFA;
  --text-color: #838487;
  --text-second: #F6A29E;
  --text-color-primary: #595959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  background-color:lightgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.space {
  padding: 3rem 6rem;
}
.key-container {
  height: 12rem;
}
kbd {
  border-bottom: 5px solid rgb(160, 158, 158);
  border-left:1.5px solid rgb(141, 136, 136);
  border-right: 1px solid rgb(146, 140, 140);
  box-shadow: -5px 5px 10px 5px grey;
  outline: grey;
  border-radius: 20px;
  padding: 2rem 3rem;
  margin: 1rem;
  display: inline-block;
  color: var(--text-color);
  font-size: 5rem;
  background-color: white;
  
}

.noBorders {
  border-bottom: none;
  border-left: none;
  box-shadow: -3px 5px 10px 5px grey;

}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-primary);
  
}

h2 {
  color: black;
}